In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
preliminary_df = pd.read_csv('chm_jail_data.csv', na_values = ['nan', 'Unknown', 'Other'])
preliminary_df

/var/folders/rz/99x91dzn46xdnlv1swhwtc9r0000gn/T/ipykernel_14666/1251039999.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  preliminary_df = pd.read_csv('chm_jail_data.csv', na_values = ['nan', 'Unknown', 'Other'])

,booking_number,booking_date,booking_time,jacket_number,jacket_type,released_date,released_time,arrest_agency,age_at_arrest,age_at_release,...,crime,superhighlevel,finalanswercode,finalanswerdesc,custody_class,inmate_status,incarc_reason,booking_reason,release_reason_description,release_reason
0,201200000001,1/1/2012,0:19:14,22914,A,1/1/2012,1:57:29,Champaign Police Department,51.0,51.0,...,DRIVING UNDER THE INFLUENCE OF ALCOHOL,DUI,C69,Driving Under the Influence,NaN,NaN,Arrest - Without Warrant,Arrested Without Warrant,Credit Card Bond Posted,Bond Posted
1,201200000001,1/1/2012,0:19:14,22914,A,1/1/2012,1:57:29,Champaign Police Department,51.0,51.0,...,OTHER TRAFFIC OFFENSES,Traffic,C28,Traffic Offenses,NaN,NaN,Arrest - Without Warrant,Arrested Without Warrant,Credit Card Bond Posted,Bond Posted
2,201200000001,1/1/2012,0:19:14,22914,A,1/1/2012,1:57:29,Champaign Police Department,51.0,51.0,...,"RESISTING,OBSTRUCTING,OR DISARMING A POLICE OFC",Public Order,C31,Interfering w/Public Officers,NaN,NaN,Arrest - Without Warrant,Arrested Without Warrant,Credit Card Bond Posted,Bond Posted
3,201200000002,1/1/2012,1:44:45,1024225,A,1/2/2012,10:40:39,Champaign Police Department,32.0,32.0,...,DOMESTIC BATTERY,Violent,C05,Battery,NaN,NaN,Arrest - Without Warrant,Arrested Without Warrant,Credit Card Bond Posted,Bond Posted
4,201200000002,1/1/2012,1:44:45,1024225,A,1/2/2012,10:40:39,Champaign Police Department,32.0,32.0,...,AGGRAVATED BATTERY,Violent,C05,Battery,NaN,NaN,Arrest - Without Warrant,Arrested Without Warrant,Credit Card Bond Posted,Bond Posted
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67918,201800002539,6/30/2018,12:36:48,1069755,A,6/30/2018,13:15:04,Champaign County Sherriff's Office,32.0,32.0,...,SUSPENDED OR REVOKED DRIVERS LICENSE,Traffic,C28,Traffic Offenses,NaN,NaN,FTA - Traffic Warrant,Failure to Appear,Cash Bond Posted,Bond Posted
67919,201800002540,6/30/2018,19:26:59,1000385,A,6/30/2018,21:15:00,Urbana Police Department,30.0,30.0,...,RETAIL THEFT,Property,C11,Theft,NaN,NaN,Arrest - Champaign County Warrant,Arrested on Warrant,Cash Bond Posted,Bond Posted
67920,201800002541,6/30/2018,21:05:36,990152,A,6/30/2018,22:30:55,Champaign Police Department,29.0,29.0,...,UNLAWFUL USE OF A WEAPON,Public Order,C18,Weapons Offenses,NaN,NaN,Arrest - Without Warrant,Arrested Without Warrant,Cash Bond Posted,Bond Posted
67921,201800002542,6/30/2018,21:28:09,34365,A,7/1/2018,11:20:30,Rantoul Police Department,46.0,46.0,...,DOMESTIC BATTERY,Violent,C05,Battery,NaN,NaN,Arrest - Without Warrant,Arrested Without Warrant,NaN,NaN
67922,201800002543,6/30/2018,22:39:25,1060848,A,7/2/2018,14:55:06,University of Illinois Police Department,58.0,58.0,...,SUSPENDED OR REVOKED DRIVERS LICENSE,Traffic,C28,Traffic Offenses,NaN,NaN,Arrest - Without Warrant,Arrested Without Warrant,NaN,NaN

In [5]:
preliminary_df.groupby(by= 'jacket_number').agg('count').reset_index()

,jacket_number,booking_number,booking_date,booking_time,jacket_type,released_date,released_time,arrest_agency,age_at_arrest,age_at_release,...,crime,superhighlevel,finalanswercode,finalanswerdesc,custody_class,inmate_status,incarc_reason,booking_reason,release_reason_description,release_reason
0,6265,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,0,1,1,0,0
1,6565,6,6,6,6,6,6,6,6,6,...,6,0,1,6,0,0,6,6,2,2
2,6684,1,1,1,1,1,1,1,1,1,...,1,0,1,1,1,1,1,1,0,0
3,7188,2,2,2,2,2,2,2,2,2,...,2,2,2,2,0,0,2,2,0,0
4,7594,4,4,4,4,4,4,4,4,4,...,4,4,4,4,0,0,4,4,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19609,1069761,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,0,0
19610,1069763,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,0,0
19611,1069766,3,3,3,3,3,3,3,3,3,...,3,2,3,3,3,3,3,3,0,0
19612,1069768,2,2,2,2,2,2,2,2,2,...,2,2,2,2,0,0,2,2,0,0
19613,1069774,3,3,3,3,3,3,3,3,3,...,2,2,2,2,0,0,3,3,3,3

In [8]:
df = preliminary_df[['booking_date', 'released_date', 'jacket_number', 'arrest_agency', 'age_at_arrest', 'age_at_release', 'hours', 'marital_status', 'employment_status', 'city', 'race', 'sex', 'STATE', 'citizenship', 'occupation', 'school', 'prisoner_type', 'offense_level']]
df

,booking_date,released_date,jacket_number,arrest_agency,age_at_arrest,age_at_release,hours,marital_status,employment_status,city,race,sex,STATE,citizenship,occupation,school,prisoner_type,offense_level
0,1/1/2012,1/1/2012,22914,Champaign Police Department,51.0,51.0,1,Divorced,Employed - Full Time,CHAMPAIGN,White,Male,ILLINOIS,US,CONSTRUCTION WORKER,Graduated from high school,Misdemeanor Arraignment,Misdemeanor
1,1/1/2012,1/1/2012,22914,Champaign Police Department,51.0,51.0,1,Divorced,Employed - Full Time,CHAMPAIGN,White,Male,ILLINOIS,US,CONSTRUCTION WORKER,Graduated from high school,Misdemeanor Arraignment,Misdemeanor
2,1/1/2012,1/1/2012,22914,Champaign Police Department,51.0,51.0,1,Divorced,Employed - Full Time,CHAMPAIGN,White,Male,ILLINOIS,US,CONSTRUCTION WORKER,Graduated from high school,Misdemeanor Arraignment,Misdemeanor
3,1/1/2012,1/2/2012,1024225,Champaign Police Department,32.0,32.0,32,Single,Employed - Full Time,CHAMPAIGN,Hispanic,Male,ILLINOIS,US,UNEMPLOYED,Attends non-local school,Felony Arraignment,Felony
4,1/1/2012,1/2/2012,1024225,Champaign Police Department,32.0,32.0,32,Single,Employed - Full Time,CHAMPAIGN,Hispanic,Male,ILLINOIS,US,UNEMPLOYED,Attends non-local school,Felony Arraignment,Felony
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67918,6/30/2018,6/30/2018,1069755,Champaign County Sherriff's Office,32.0,32.0,0,Married,Employed - Full Time,URBANA,White,Female,ILLINOIS,US,"SERVICE PERSONNEL(HOTEL,RESTAURANT,NIGHT CLUB)",Non-attender,Intermittent,NOT CLASSIFIED
67919,6/30/2018,6/30/2018,1000385,Urbana Police Department,30.0,30.0,1,Single,Employed - Full Time,CHAMPAGIN,Black,Female,ILLINOIS,US,"SERVICE PERSONNEL(HOTEL,RESTAURANT,NIGHT CLUB)",Graduated from high school,Misdemeanor Arraignment,Misdemeanor
67920,6/30/2018,6/30/2018,990152,Champaign Police Department,29.0,29.0,1,Single,Unemployed,CHAMPAIGN,Black,Female,ILLINOIS,US,TEACHER,Graduated from high school,Misdemeanor Arraignment,Misdemeanor
67921,6/30/2018,7/1/2018,34365,Rantoul Police Department,46.0,46.0,13,Single,Employed - Full Time,RANTOUL,White,Female,ILLINOIS,US,"CLERKS(GASSTATIONATTENDANT,CONVIENCESTORECLERK)",Non-attender,Misdemeanor Arraignment,Misdemeanor
67922,6/30/2018,7/2/2018,1060848,University of Illinois Police Department,58.0,58.0,40,Single,Employed - Full Time,CHAMPAIGN,Black,Male,ILLINOIS,US,FACTORY WORKER,Graduated from high school,Felony Pre-Trial,Felony

In [19]:
grouped_data = df.groupby('jacket_number').agg('count').reset_index()
grouped_data

,jacket_number,booking_date,released_date,arrest_agency,age_at_arrest,age_at_release,hours,marital_status,employment_status,city,race,sex,STATE,citizenship,occupation,school,prisoner_type,offense_level
0,6265,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1,6565,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
2,6684,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3,7188,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
4,7594,4,4,4,4,4,4,4,4,4,4,4,4,4,4,0,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19609,1069761,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1
19610,1069763,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1
19611,1069766,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
19612,1069768,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
19613,1069774,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3

In [24]:
both_groups = grouped_data.groupby('booking_date').agg('count').reset_index()
both_groups

,booking_date,jacket_number,released_date,arrest_agency,age_at_arrest,age_at_release,hours,marital_status,employment_status,city,race,sex,STATE,citizenship,occupation,school,prisoner_type,offense_level
0,1,7282,7282,7282,7282,7282,7282,7282,7282,7282,7282,7282,7282,7282,7282,7282,7282,7282
1,2,3756,3756,3756,3756,3756,3756,3756,3756,3756,3756,3756,3756,3756,3756,3756,3756,3756
2,3,2716,2716,2716,2716,2716,2716,2716,2716,2716,2716,2716,2716,2716,2716,2716,2716,2716
3,4,1539,1539,1539,1539,1539,1539,1539,1539,1539,1539,1539,1539,1539,1539,1539,1539,1539
4,5,1084,1084,1084,1084,1084,1084,1084,1084,1084,1084,1084,1084,1084,1084,1084,1084,1084
5,6,730,730,730,730,730,730,730,730,730,730,730,730,730,730,730,730,730
6,7,531,531,531,531,531,531,531,531,531,531,531,531,531,531,531,531,531
7,8,402,402,402,402,402,402,402,402,402,402,402,402,402,402,402,402,402
8,9,295,295,295,295,295,295,295,295,295,295,295,295,295,295,295,295,295
9,10,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230
10,11,179,179,179,179,179,179,179,179,179,179,179,179,179,179,179,179,179
11,12,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175
12,13,127,127,127,127,127,127,127,127,127,127,127,127,127,127,127,127,127
13,14,84,84,84,84,84,84,84,84,84,84,84,84,84,84,84,84,84
14,15,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75,75
15,16,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60
16,17,57,57,57,57,57,57,57,57,57,57,57,57,57,57,57,57,57
17,18,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53
18,19,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41
19,20,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31
20,21,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26
21,22,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24
22,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23
23,24,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14
24,25,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
25,26,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
26,27,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
27,28,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
28,29,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
29,30,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
30,31,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
31,32,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
32,33,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
33,34,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
34,35,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
35,36,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
36,37,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
37,40,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
38,42,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
39,44,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
40,50,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
41,60,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
42,86,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
43,393,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [17]:
df['repeat_offender'] = grouped_data

ValueError: Cannot set a DataFrame with multiple columns to the single column repeat_offender

In [9]:
df_dropNa = df.dropna()
df_dropNa

,booking_date,released_date,jacket_number,arrest_agency,age_at_arrest,age_at_release,hours,marital_status,employment_status,city,race,sex,STATE,citizenship,occupation,school,prisoner_type,offense_level
0,1/1/2012,1/1/2012,22914,Champaign Police Department,51.0,51.0,1,Divorced,Employed - Full Time,CHAMPAIGN,White,Male,ILLINOIS,US,CONSTRUCTION WORKER,Graduated from high school,Misdemeanor Arraignment,Misdemeanor
1,1/1/2012,1/1/2012,22914,Champaign Police Department,51.0,51.0,1,Divorced,Employed - Full Time,CHAMPAIGN,White,Male,ILLINOIS,US,CONSTRUCTION WORKER,Graduated from high school,Misdemeanor Arraignment,Misdemeanor
2,1/1/2012,1/1/2012,22914,Champaign Police Department,51.0,51.0,1,Divorced,Employed - Full Time,CHAMPAIGN,White,Male,ILLINOIS,US,CONSTRUCTION WORKER,Graduated from high school,Misdemeanor Arraignment,Misdemeanor
3,1/1/2012,1/2/2012,1024225,Champaign Police Department,32.0,32.0,32,Single,Employed - Full Time,CHAMPAIGN,Hispanic,Male,ILLINOIS,US,UNEMPLOYED,Attends non-local school,Felony Arraignment,Felony
4,1/1/2012,1/2/2012,1024225,Champaign Police Department,32.0,32.0,32,Single,Employed - Full Time,CHAMPAIGN,Hispanic,Male,ILLINOIS,US,UNEMPLOYED,Attends non-local school,Felony Arraignment,Felony
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67918,6/30/2018,6/30/2018,1069755,Champaign County Sherriff's Office,32.0,32.0,0,Married,Employed - Full Time,URBANA,White,Female,ILLINOIS,US,"SERVICE PERSONNEL(HOTEL,RESTAURANT,NIGHT CLUB)",Non-attender,Intermittent,NOT CLASSIFIED
67919,6/30/2018,6/30/2018,1000385,Urbana Police Department,30.0,30.0,1,Single,Employed - Full Time,CHAMPAGIN,Black,Female,ILLINOIS,US,"SERVICE PERSONNEL(HOTEL,RESTAURANT,NIGHT CLUB)",Graduated from high school,Misdemeanor Arraignment,Misdemeanor
67920,6/30/2018,6/30/2018,990152,Champaign Police Department,29.0,29.0,1,Single,Unemployed,CHAMPAIGN,Black,Female,ILLINOIS,US,TEACHER,Graduated from high school,Misdemeanor Arraignment,Misdemeanor
67921,6/30/2018,7/1/2018,34365,Rantoul Police Department,46.0,46.0,13,Single,Employed - Full Time,RANTOUL,White,Female,ILLINOIS,US,"CLERKS(GASSTATIONATTENDANT,CONVIENCESTORECLERK)",Non-attender,Misdemeanor Arraignment,Misdemeanor
67922,6/30/2018,7/2/2018,1060848,University of Illinois Police Department,58.0,58.0,40,Single,Employed - Full Time,CHAMPAIGN,Black,Male,ILLINOIS,US,FACTORY WORKER,Graduated from high school,Felony Pre-Trial,Felony

In [44]:
df_filtered.isna().sum()

booking_date            0
released_date           0
arrest_agency         885
age_at_arrest         462
age_at_release        462
hours                   0
marital_status        383
employment_status     857
city                  274
race                  818
sex                   462
STATE                 307
citizenship           655
occupation           2661
school               4191
prisoner_type         401
offense_level         401
dtype: int64